<% content_for :css do %>
  <%= stylesheet_link_tag    'about', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'about' %>
<% end %>

<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
  <span><%= link_to 'Home', root_url %></span><span><%= @person.name %></span><span>Publication</span>
</div>

<!-- title -->
<h1 class="container">Publication</h1>

<!-- content -->
<div class="container">
  <article>
    <%= @person.publication.html_safe %>

  </article>

</div>
