<% content_for :css do %>
  <%= stylesheet_link_tag    'about', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'about' %>
<% end %>

<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
    <span><%= link_to 'Home', root_url %></span><span><%= link_to 'Research', research_index_url %></span><span><%= link_to 'Research Archive', archive_result_research_index_url %></span><span><%= @person.name %></span>
</div>

<!-- title -->
<h1 class="container">Research</h1>

<!-- content -->
<div class="container">
  <article>
    <%= @person.research.html_safe %>

  </article>

</div>
