<% content_for :css do %>
  <%= stylesheet_link_tag    'index', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'index' %>
  <script>
    var i = 1;
    function autoChangeImage(i){
      setTimeout("changeImage(i++); ", 3500);
      // setTimeout("back(i); ", 1000);
      setTimeout("autoChangeImage(i = (i%<%= Home.count %>)); ", 3500);
      console.log(i)
    }
    function changeImage(idNum){
      switch(idNum){
        <% Home.all.each.with_index do |banner, index| %>
          case <%= index %>:
            var image = $("#imgIndex");
            image.fadeOut('fast', function () {
                image.attr('src', "<%= banner.background.url %>");
                image.fadeIn('fast');
            });
            $("#linkIndex").attr('href', "<%= banner.link %>")
            // document.getElementById("imgIndex").style.backgroundImage = "url(<%= banner.background.url %>)";//改变首页图片
            break;
        <% end %>
      }
    }
    $(document).ready(function () {
      changeImage(0);
      autoChangeImage(0);
    })
  </script>
<% end %>
<div class="banner container">
  <a id="linkIndex">
    <img alt="" class="bg" id="imgIndex">
  </a>
</div>
<div class="block container p1">
  <div class="title">
    <div class="text">Upcoming NICE Events</div>
    <div class="link" style="color:#a40008;"><%= link_to 'See all Events', events_url, :style => "text-decoration: underline;"  %> ></div>
  </div>
  <div class="content">
  <% Activity.events.active.order(:start).limit(3).each do |activity| %>
    <div class="d">
      <div class="t"><%= activity.start&.strftime("%^B") %></div>
      <div class="c"><b><%= activity.start&.strftime("%d") %></b><%= activity.start&.day&.ordinal %></div>
      <div class="p">
        <!-- <div>NICE & Stats Tea</div> -->
        <div><b><%= link_to activity.title, event_url(activity) %></b></div>
        <div><%= (truncate(strip_tags(activity.content), :length => 60, :omission => '...')).html_safe %></div>
        <!-- <div>4:30pm</div> -->
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="container p2">
  <div class="block p3">
    <div class="title">
      <div class="text">NICE Research Highlights</div>
      <div class="link" style="color:#a40008;"><%= link_to 'See all NICE Highlights', highlight_result_research_index_url, :style => "text-decoration: underline;" %> ></div>
    </div>
    <div class="content">
    <% Activity.highlights.active.order(:start).limit(3).each do |activity| %>
      <div class="a">
        <div class="i">
          <img src="<%= activity.logo_url || '' %>" alt="">
        </div>
        <div class="t">
          <div class="tt", style="color:#a40008"><%= link_to activity.title, event_url(activity) %></div>
          <div class="ttt"><%= (truncate(strip_tags(activity.content), :length => 300, :omission => '...')).html_safe %></div>
        </div>
      </div>
    <% end %>

    </div>
  </div>
  <div class="block p4">
    <div class="title">
      <div class="text">NICE News</div>
      <div class="link" style="color:#a40008;"><%= link_to 'See all NICE News', events_url, :style => "text-decoration: underline;" %> ></div>
    </div>
    <div class="content">
    <% Activity.news.active.order(:start).limit(3).each do |activity| %>
      <div class="a">
        <div class="i">
          <img src="<%= activity.logo_url || '' %>" alt="">
        </div>
        <div class="t">
          <div class="tt"><%= activity.start&.strftime("%B %d, %Y") %></div>
          <div class="ttt", style="color:#a40008"><%= link_to activity.title, event_url(activity) %></div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
