<% content_for :css do %>
  <%= stylesheet_link_tag    'index', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'index' %>
<% end %>
<div class="banner container">
  <%= image_tag 'banner.jpeg', :alt => '', :class => 'bg' %>
  <div class="content">
    <div class="t">
      <div class="title">An Interdepartmental Research Center</div>
      <div class="subtitle">Committed to Advancing the Analytical Information and Decision Sciences.</div>
    </div>
  </div>
</div>
<div class="block container p1">
  <div class="title">
    <div class="text">Upcoming NICE Events</div>
    <div class="link"><%= link_to 'See all Events', activities_url %></div>
  </div>
  <div class="content">
  <% Activity.news.order(:start).limit(3).each do |activity| %>
    <div class="d">
      <div class="t"><%= activity.start&.strftime("%^B") %></div>
      <div class="c"><b><%= activity.start&.strftime("%d") %></b><%= activity.start&.day&.ordinalize %></div>
      <div class="p">
        <!-- <div>NICE & Stats Tea</div> -->
        <div><b><%= link_to activity.title, events_url(activity) %></b></div>
        <div><%= (truncate(strip_tags(activity.content), :length => 60, :omission => '...')).html_safe %></div>
        <!-- <div>4:30pm</div> -->
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class="container p2">
  <div class="block p3">
    <div class="title">
      <div class="text">NICE Research Highlights</div>
      <div class="link"><%= link_to 'See all NICE Highlights', research_index_url %><a href="./xxx.html"></a></div>
    </div>
    <div class="content">
    <% Activity.activity.order(:start).limit(6).each do |activity| %>
      <div class="a">
        <div class="i">
          <img src="<%= activity.logo_urls[0] || '' %>" alt="">
        </div>
        <div class="t">
          <div class="tt"><%= link_to activity.title, events_url(activity) %></div>
          <div class="ttt"><%= (truncate(strip_tags(activity.content), :length => 300, :omission => '...')).html_safe %></div>
        </div>
      </div>
    <% end %>

    </div>
  </div>
  <div class="block p4">
    <div class="title">
      <div class="text">NICE News</div>
      <div class="link"><%= link_to 'See all NICE News', activities_url %></div>
    </div>
    <div class="content">
    <% Activity.news.order(:start).limit(6).each do |activity| %>
      <div class="a">
        <div class="i">
          <img src="<%= activity.logo_urls[0] || '' %>" alt="">
        </div>
        <div class="t">
          <div class="tt"><%= activity.start&.strftime("%B %d, %Y") %></div>
          <div class="ttt"><%= link_to activity.title, events_url(activity) %></div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
