<% content_for :css do %>
  <%= stylesheet_link_tag    'activities', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'activities' %>
<% end %>
<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
    <span><%= link_to 'Home', root_url %></span><span><%= link_to 'News & Events', events_url %></span><span>Nice News</span>
</div>

<!-- title -->
<h1 class="container">Nice News</h1>

<!-- content -->
<div class="container with-catalog">
  <article>
    <% @result.each do |article| %>
    <div class="event">
      <div class="image">
        <%= image_tag article.logo_url || 'default_logo.png' %>
      </div>
      <div class="info">
        <div class="time"><%= article.start&.strftime("%B %d, %Y") %></div>
        <div class="desc"><%= link_to article.title, event_url(article) %></div>
        <div><%= (truncate(strip_tags(article.content), :length => 60, :omission => '...')).html_safe %></div>
      </div>
    </div>
    <% end %>


    <!-- pagination -->
    <!-- pagination end -->

  </article>

  <%= render 'sidebar' %>
  </div>
</div>
