<% content_for :css do %>
  <%= stylesheet_link_tag    'about', media: 'all' %>
<% end %>
<% content_for :js do %>
  <%= javascript_include_tag 'about' %>
<% end %>
<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
    <span><%= link_to 'Home', root_url %></span><span><%= link_to 'News & Events', events_url %></span><span>Conferences and Workshops</span>
</div>

<!-- title -->
<h1 class="container">Conferences and Workshops</h1>

<!-- content -->
<div class="container with-catalog">
  <article>
    <p>2018 ShanghaiTech Workshop on Information, Learning and Decision (SWILD 2018) will be held in Shanghai, on ShanghaiTech University campus, from June 30 to July 1, 2018.</p>
    <%= image_tag 'workshops.png', :alt => '' %>
    <p>The workshop provides an opportunity for both researchers and practitioners in decision-making systems, networking, information theory, signal processing, machine learning, artificial intelligence, optimization and statistics to present their results.</p>
    <p>For more information, please clisk here: </p>

    <p><%= link_to 'http://sist-swild.shanghaitech.edu.cn/2018/', '', :style => 'text-decoration-line: underline' %></p>

  </article>

  <%= render 'sidebar' %>
  </div>
</div>
