 <div class="catalog" style="height: 100%;">
  <span><%= link_to 'Information for Visitors and New Members', members_resource_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Book a Conference Room', book_resource_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Copy/Fax/Print/Scan', copy_resource_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Lids Theses& Publications', publications_resource_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Request Repairs', request_repairs_resource_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Ship & Receive Mail', mail_resource_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Travel Rules and Reimbursements', travel_rule_resource_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Subscribing to Calendar Feeds', subscribing_resource_index_url, :style => 'color: #a40008' %></span><br><br>
</div>
