<div class="catalog" style="height: 100%;">
  <span><%= link_to 'Fog Computing', fog_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Cloud Computing', cloud_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Distributed System', distributed_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Converge  of communication，Computing and Control', communication_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Date-Driven intelligent Network Design', network_design_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Big-Data Analytics', big_data_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Network information Theory', network_information_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Network Optimzation', network_optimzation_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Research Highlights', result_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Research Archive', result_research_index_url, :style => 'color: #a40008' %></span><br><br>
  <span><%= link_to 'Event Calendar', activities_url, :style => 'color: #a40008' %></span><br><br>
</div>
