<% content_for :css do %>
<%= stylesheet_link_tag    'research', media: 'all' %>
<% end %>
<% content_for :js do %>
<%= javascript_include_tag 'research' %>
<% end %>
<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
  <% if params[:q] %>
    <span><%= link_to 'Home', root_url %></span><span><%= link_to 'Research', research_index_url %></span><span><%= link_to 'Research Highlight', highlight_result_research_index_url %></span><span><%= params[:q] %></span>
  <% else %>
    <span><%= link_to 'Home', root_url %></span><span><%= link_to 'Research', research_index_url %></span><span>Research Highlight</span>
  <% end %>
</div>

<!-- title -->
<h1 class="container">Research Highlight</h1>

<!-- content -->
<div class="container with-catalog">
  <article>
    <% @result&.each do |article| %>
    <div class="event">
      <div class="image">
        <%= image_tag article.logo_urls[0] || 'default_logo.png' %>
      </div>
      <div class="info">
        <div class="time"><%= article.start&.strftime("%B %d, %Y") %></div>
        <div class="desc"><%= link_to article.title, event_url(article) %></div>
        <div><%= (truncate(strip_tags(article.content), :length => 60, :omission => '...')).html_safe %></div>
      </div>
    </div>
    <% end %>


    <!-- pagination -->
    <!-- pagination end -->

  </article>

  <div class="catalog" style="height: 100%;">
    <span>Search the Complete Research </span><br>
    <span>Highlights:</span><br>
    <span>Enter a keyword, topic, or research term to search:</span><br>
    <div style="margin-top:0.1rem">
      <!-- <input type="text"><button style="">go</button> -->
    <%= form_tag highlight_result_research_index_url, :method => 'get' do %>
        <%= text_field_tag(:q, params[:q]) %>
        <%= submit_tag "go", :style => 'margin-left:0.07rem;background-color:#A40008;color: #FFFFFF;border:#A40008;height:0.28rem;padding-top:0;padding-bottom:0' %>
    <% end %>
    </div>
  </div>
</div>
