<% content_for :css do %>
<%= stylesheet_link_tag    'research', media: 'all' %>
<% end %>
<% content_for :js do %>
<%= javascript_include_tag 'research' %>
<% end %>
<!-- 记得这里是span不能换行 -->
<div class="breadcrumb container">
  <span><%= link_to 'Home', root_url %></span><span>Research
</div>

<!-- title -->
<div class="container with-catalog">
  <article>
    <% Activity.research.each do |article| %>
    <div class="event">
      <div class="image">
        <img src="<%= article.logo_urls[0] %>" alt="">
      </div>
      <div class="info">
        <div class="time"><%= article.start&.strftime("%B %d, %Y") %></div>
        <div class="desc"><%= link_to article.title, event_url(article) %></div>
        <div><%= (truncate(strip_tags(article.content), :length => 60, :omission => '...')).html_safe %></div>
      </div>
    </div>
    <% end %>


    <!-- pagination -->
    <!-- pagination end -->

  </article>
  <%= render 'sidebar' %>
</div>
