<header class="container">
  <div class="logo">
    <%= link_to root_url do %>
      <%= image_tag 'logo.png', :alt => '上海科技大学' %>
    <% end %>
  </div>
  <div class="menu">
    <ul>
      <li class=<%= params[:controller] == 'welcome' ? 'active' : '' %>><%= link_to 'Home', root_url %></li>
      <li class=<%= params[:controller] == 'about' ? 'active' : '' %>><%= link_to 'About', about_index_url %></li>
      <li class=<%= params[:controller] == 'labs' ? 'active' : '' %>><%= link_to 'Labs and Groups', labs_dial_url %></li>
      <li class=<%= params[:controller] == 'research' ? 'active' : '' %>><%= link_to 'Research', fog_research_index_url %></li>
      <!-- <li><a href="#">Labs and Groups</a></li> -->
      <li class=<%= params[:controller] == 'people' ? 'active' : '' %>><%= link_to 'People', people_engineers_url %></li>
      <li class=<%= params[:controller] == 'activities' ? 'active' : '' %>><%= link_to 'News & Events', activities_url %></li>
      <li class=<%= params[:controller] == 'calendar' ? 'active' : '' %>><%= link_to 'Calendar', calendar_index_url %></li>
      <!-- <li><a href="#">Resources</a></li> -->
    </ul>
  </div>
</header>
