<style>
/*  .menu li:hover{
    border-bottom: .04rem solid #fff;
  }*/

  .menu .submenu li {
    float: none;
    height: 40px;
    line-height: 40px;
    display: block;
    width: 100%;
    border-top: 0.5px solid rgba(255, 255, 255, 0.35);
  }

  .menu .submenu li a {
    white-space:nowrap;
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu li {
    position: relative;
  }

  .menu .submenu {
    z-index:999;
    display: none;
    position: absolute;
    padding: 0;
    background-color: #a40008;
    min-width: 100px;
    text-align: center;
    color: #fff;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }


  .menu .submenu li:hover {
    background-color: #CF3139;
  }

  .menu li:hover ul {
    display: block;
  }

</style>
<header class="container">
  <div class="logo" style="height:117px">
    <%= link_to root_url do %>
      <%= image_tag 'left-logo.png', :alt => '上海科技大学', :align => 'left' %>
    <% end %>
    <%= link_to root_url do %>
      <%= image_tag 'right-logo.png', :alt => '上海科技大学', :align => 'right' %>
    <% end %>
  </div>
  <div class="menu">
    <ul>
      <li class=<%= params[:controller] == 'welcome' ? 'active' : '' %>>
        <%= link_to 'Home', root_url %>
      </li>

      <li class=<%= params[:controller] == 'people' or params[:action] == 'group' ? 'active' : '' %>>
        <%= link_to 'People', people_url %>
        <% if Person.count > 0 %>
        <ul class="submenu">
          <% Person.all.each do |person| %>
            <li><%= link_to person.name, group_person_url(person) %></li>
          <% end %>
        </ul>
        <% end %>
      </li>

      <li class=<%= params[:controller] == 'research' || params[:action] == 'research' ? 'active' : '' %>>
        <%= link_to 'Research', research_index_url %>
        <ul class="submenu">
          <li><%= link_to 'Research Highlights', highlight_result_research_index_url %></li>
          <li><%= link_to 'Research Archive', archive_result_research_index_url %></li>
        </ul>
      </li>
      <li class=<%=  params[:action] == 'teaching' ? 'active' : '' %>>
        <div style="color:#fff">Teaching</div>
        <% if Person.all.count > 0 %>
        <ul class="submenu">
          <% Person.all.each do |person| %>
            <li><%= link_to person.name, teaching_person_url(person) %></li>
          <% end %>
        </ul>
        <% end %>
      </li>
      

      <li class=<%= params[:action] == 'publication' ? 'active' : '' %>>
        <div style="color:#fff">Publication</div>
        <% if Person.count > 0 %>
        <ul class="submenu">
          <% Person.all.each do |person| %>
            <li><%= link_to person.name, publication_person_url(person) %></li>
          <% end %>
        </ul>
        <% end %>
      </li>
      <li class=<%= params[:controller] == 'resource' ? 'active' : '' %>>
        <%= link_to 'Resources', hardware_resource_index_url %>
        <ul class="submenu">
          <li><%= link_to 'Software Information', software_resource_index_url %></li>
          <li><%= link_to 'Hardware Information', hardware_resource_index_url %></li>
        </ul>
      </li>
      <!-- <li><a href="#">Labs and Groups</a>
      </li> -->
      <li class=<%= params[:controller] == 'events' ? 'active' : '' %>>
        <%= link_to 'News & Events', events_url %>
        <ul class="submenu">
          <li><%= link_to 'Nice News', news_events_url %></li>
          <li><%= link_to 'Event Calendar', calendar_events_url %></li>
          <li><%= link_to 'NICE Seminar Series', nice_seminar_series_events_url %></li>
          <li><%= link_to 'Conferences and Workshops', workshops_events_url %></li>
        </ul>
      </li>


      <% Menu.all.each do |menu| %>
        <li class=<%= (@menu&.id == menu.id || @sub_menu&.menu_id == menu.id ) ? 'active' : '' %>>
        <%= link_to menu.title, menu_url(menu) %>
        <% if menu.sub_menus.count > 0 %>
        <ul class="submenu">
          <% menu.sub_menus.each do |sub_menu| %>
            <li><%= link_to sub_menu.title, sub_menu_url(sub_menu) %></li>
          <% end %>
        </ul>
        <% end %>
      </li>
      <% end %>
      <li class=<%= params[:controller] == 'about' ? 'active' : '' %>>
        <%= link_to 'About', about_index_url %>
      </li>
    </ul>
  </div>
</header>
