<header class="container">
  <div class="logo">
    <%= link_to root_url do %>
      <%= image_tag 'logo.png', :alt => '上海科技大学' %>
    <% end %>
  </div>
  <div class="menu">
    <ul>
      <li class=<%= params[:controller] == 'about' ? 'active' : '' %>><%= link_to 'About', about_index_url %></li>
      <li class=<%= params[:controller] == 'research' ? 'active' : '' %>><%= link_to 'Research', research_index_url %></li>
      <li><a href="#">Labs and Groups</a></li>
      <li class=<%= params[:controller] == 'people' ? 'active' : '' %>><%= link_to 'People', people_url %></li>
      <li class=<%= params[:controller] == 'calendar' ? 'active' : '' %>><%= link_to 'News & Events', calendar_index_url %></li>
      <li><a href="#">Resources</a></li>
    </ul>
  </div>
</header>
